@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}
#container {   /* movil */
    display: flex;
    flex-direction: column;
}

#currentWeather {
    background-color: rgb(30, 33, 58);
    height: 100vh;
    width: 100%;
    padding: 20px 15px 100px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#btnLocation {
    width: 10%;
    background-color:#6e707a;
    border-radius: 50%;
}
#btnLocation > svg {
    height: 90%;
    width: 90%;
}
#navbar {
    height: 100%;
    background-color: rgb(30, 33, 58);
}
#navBar-data {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

}
#navBar-img {
    display: flex;
    justify-content: center;
  
}

#navBar-btns {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}
#fore-btns {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

#foreTemp > p:nth-child(2) {
    color:#6e707a
}
#navBar-data > p:first-child {
    font-size: 50px;
}
#navBar-data > p:first-child > span {
    font-size: 144px;
}
#hightCards > p:nth-child(2) > span {
    font-size: 50px;
}
#navBar-data > p:nth-child(2) {
    font-size: 36px;
}
#navBar-data > p:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#navBar-data > p:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: .1rem;
}
#navBar-data > p:nth-child(4) > span > img {
    width: 30%;
    display: flex;
}
#forecast {
    color: white;
    background-color: rgb(16, 14, 29);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#forecast1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#forecastCards {
    padding: 2rem;
    margin: 20px;
    font-size: 16px;
    gap: 1rem;
    height:30vh;
    background-color: rgb(30, 33, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hight1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hight2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hightCards {
    padding: 2rem;
    margin: 20px;
    font-size: 16px;
    gap: 1rem;
    height:20vh;
    width: 40vh;
    background-color: rgb(30, 33, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#foreTemp {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}
#btnSearch {
    background: #6e707a;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25 );
    font-size: 16px;
    color: white;
    padding: 10px;
}
#btnClose{
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
 
@media screen and (min-width: 1200px) {
    #container {
        flex-direction: row;
    }
    #currentWeather {
        width: 30%;
    }
    #forecast {
        width: 70%;
    }
    #forecast1 {
        height: 60vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      #hight1 {
        height: 60vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      #hight2 {
        height: 60vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      #forecastCards {
        height:50%;
    }
}

